body {
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  color: blue;
  font-family: "Garamond", serif;
  font-size: 2em;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #0080FE;
  padding: 15px 0;
  margin: 0;
}

.nav li {
  margin: 0 20px;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: darkblue;
}

ul {
  list-style-type: none;
  padding: 0;
}

.skills-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
}

.skills-table td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}


td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
